<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: headerFragment">
</head>
<body>
<div id="container">
    <h1>
        Hello, <span th:text="${username}">--name--</span>.
    </h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Key</th>
            <th>Title</th>
            <th>Created</th>
            <th>Modified</th>
            <th>Completed</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="edutask : ${edutasks}">
            <td th:text="${edutask.key}">Text ...</td>
            <td th:text="${edutask.title}">Text ...</td>
            <td th:text="${edutask.created}">Text ...</td>
            <td th:text="${edutask.modified}">Text...</td>
            <td th:text="${edutask.completed}">Text...</td>
        </tr>
        </tbody>
    </table>
    <div id="pagefoot" th:include="layout :: footerFragment">Footer
    </div>
</div>
<!-- container -->
</body>
</html>